<View>

  <Image name="img" value="$image_url"/>

  <Choices name="choice" toName="img" showInLine="true">

    <Choice value="Ketakutan" background="blue"/>

    <Choice value="Fantasy" background="green" />
    
    <Choice value="Romance" background="blue"/>

    <Choice value="Aksi" background="green" />
    
  </Choices>

</View>

